
.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
}

.static{
    position: static;
    border: 3px solid-box;
    top: 400px;
    left: 50px;
}

.relative{
    position: static;
    border: 3px palegoldenrod;
    top: 400px;
    left: 500px;
}

.absolute{
    position: static;
    border: 3px solid red;
    top: 400px;
    left: 500px;
    
}